<html>
  <head>
    <title>The Whisper Man</title>
    <style type="text/css">
        #side-bar {
            height: 100%; width: 300px; position: absolute; left: 0; right: 0; padding-top: 10px; background-color: rgb(174, 218, 174);
        }
        ul {
            list-style: none;margin: 0px;padding: 0px; width:25% ;
        }
        a {
            text-decoration: none; color: black; font-size: 16px;
        }
        .container  {
        margin-left: 300px; display: block;;
        }
    </style>
</head>
    <body>
        <h1>Books</h1>
        <div class="Navigation" id="side-bar">
            <ul >
                <li><a href="index.html">Home Page</a></li>
                <li><a href="Books.html">Books</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="survey.html">Survey</a></li>
              </ul>
        </div>
        <div class="container" id="content" >
            <p>
                <img src="public/images/whisper.jpg" width="500" height="700" style="float: left;">
                <br><br>
                <h2>The Whisper Man</h2> 
                
                Summary/Review: Still devastated after the loss of his wife, Tom Kennedy and his young son Jake move to the sleepy village of Featherbank, looking for a fresh start.
                 But Featherbank has a dark past. Fifteen years ago a twisted serial killer abducted and murdered five young boys. 
                 Until he was finally caught, the killer was known as 'The Whisper Man'. Of course, an old crime need not trouble Tom and Jake as they try to settle in to their new home. 
                Except that now another young boy has gone missing. And then Jake begins acting strangely. He says he hears a whispering at his window <br><br>
                <h3>Details</h3>
                <table>
                    <tr>
                        <td>Author:</td>
                        <td>Alex North</td>
                      </tr>
                    <tr>
                        <td>Genre:</td>
                        <td>Psychological Thrillers</td>
                    </tr>
                    <tr>
                      <td>Published:</td>
                      <td>June 13, 2019</td>
                    </tr>
                    <tr>
                      <td>Publisher:</td>
                      <td>Celadon Books</td>
                    </tr>
                  </table>
                  
        </div>
    </body>
</html>